.fc-center {
  margin-left: 150px;
}
.fc-button {
  position: relative;
  display: inline-block;
  font-weight: bold;
  width: 80px;
  margin: 0;
  padding: 10px;
  text-decoration: none;
  border-left: solid 4px #e67168;
  border-right: solid 4px #e67168;
  color: #e67168;
  background: #ffcccc;
  transition: .4s;
  text-align: center;
  line-height: 1;
  font-size: 16px;
}
.fc-button:hover {
  background: #e67168;
  color: #FFF;
}
.fc-prev-button {
  border: 0px;
  width: 25px;
  background: url(../image/prev.png) left top no-repeat;
  background-size: 25px;
  text-indent:100%;
  white-space:nowrap;
  overflow:hidden;
}
.fc-next-button {
  border: 0px;
  width: 25px;
  background: url(../image/next.png) left top no-repeat;
  background-size: 25px;
  text-indent:100%;
  white-space:nowrap;
  overflow:hidden;
}

.fc-body {
  background-color: #fff;
}
.fc-head {
  background-color: #ffff99;
}
.fc-sat {
  background-color: #ddeeff;
}
.fc-sun {
  background-color: #ffddf0;
}
.fc-head .fc-sat {
  background-color: #99ccff;
  !important
}
.fc-head .fc-sun {
  background-color: #ff99b2;
  !important
}

.fc-month-button {
  display: none;
}
.fc-agendaDay-button {
  display: none;
}
.fc-agendaDay-view {
  display: none;
}
#dailyView {
  display: none;
}

/* 月/日のラジオボタン */
.fc-right input {
	display: none;
}
.fc-right .sMonth, .fc-right .sDay{
	display: block;
	float: left;
	cursor: pointer;
	width: 60px;
	margin: 0;
	padding: 10px;
	background: #bdc3c7;
	color: #869198;
	font-size: 16px;
	text-align: center;
	line-height: 1;
	transition: .2s;
}
.fc-right label:first-of-type{
	border-radius: 3px 0 0 3px;
}
.fc-right label:last-of-type{
	border-radius: 0 3px 3px 0;
}
.fc-right input[type="radio"]:checked + .sMonth {
	background-color: #e67168;
	color: #fff;
}
.fc-right input[type="radio"]:checked + .sDay {
	background-color: #e67168;
	color: #fff;
}
