doctype html
html
  head
    title= title
    script(src='FullCalendar/fullcalendar-3.9.0/lib/jquery.min.js')
    link(rel='stylesheet', href='/stylesheets/style.css')
    block script
  body
    block menu
    h1= title
    p(id='comMsg')= message
    block content
