extends layout

block menu
  h1 MENU
  form(method='POST', action='/menu')
    table
      tr
        td
          input(type='submit', name='addMeal', class='button', value='食事を登録')
        td
          input(type='submit', name='menuList', class='button', value='料理一覧')
        td
          input(type='submit', name='foodList', class='button', value='食材一覧')
        td
          input(type='submit', name='account', class='button', value='アカウント情報')
